/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Online Registration Form
Version:	1.0
Author: 	@WebDesignerBen
URI:		https://github.com/BenAttenborough/online-registration-form

--------------------------------------------------------------------

[Table of Contents]

---GENERAL---
---TYPOGRAPHY---
---LAYOUT---
---ELEMENTS---
---FORM---
	---INPUT FIELDS---
	---INPUT FOCUS---
	---INPUT PLACEHOLDERS---
---MEDIA QUERIES---
	---TABLET AND ABOVE---

Note: Project employs mobile-first philosophy, main styles are for
mobile then views are progressively enchanced for tablet and 
desktop

-------------------------------------------------------------------*/

/*
 *---GENERAL---
 */

* {
	box-sizing: border-box;
}

/*
 *---TYPOGRAPHY---
 */

h1, h2, h3, h4, p, a, legend, label, button, select, textarea, input, .placeholder {
	font-family: 'Merriweather', serif;
}

legend {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

p, label {
	color: gray;
}

footer p {
	text-align: center;
	font-style: italic;
}

/*
 *---LAYOUT---
 */

header {
	padding: 1em 0;
	background-color: #2d3945;
	text-align: center;
	color: #fff;
}

.main-container {
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 2.5%;
}

.title-container {
	text-align: center;
	margin: 3em 0;
}

/*
 *---ELEMENTS---
 */

hr {
	border-style: solid;
}

.thick-rule {
	border-width: 3px;
}

/*
 *---FORM---
 */

fieldset {
	border: none;
	margin-top: 3em;
}

label {
	display: block;
}

.inline-label {
	display: inline;
	margin-left: 0.5em;
}

.newsletter label {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

/*---INPUT FIELDS---*/

input[type="text"],
input[type=tel],
input[type=email],
input[type=url],
select,
textarea,
button {
	width: 100%;
	height: 3em;
	margin: .5em 0 1.5em 0;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #eff0f1;
	border: none;
	border-radius: 5px;
	transition: background-color 1s;
}

input[type=file] {
	margin: .5em 0 1.5em 0;
	font-family: 'Merriweather', serif;
	color: gray;
}

textarea {
	padding-top: 0.5em;
	height: 8em;
}

#zip {
	max-width: 10em;
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: 0;
	margin-bottom: 1em;
}

button {
	color: #fff;
	background-color: #4ebbb5;
}

/*---INPUT FOCUS---*/

input[type="text"]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
	outline-color: #46698b;
	background-color: #fffb8c
}

input:required:focus:invalid,
input[type=url]:focus:invalid {
	background-color: #ffc3c3;
}

input:required:focus:valid,
input[type=url]:focus:valid {
	background-color: #aeffac;
}

/*---INPUT PLACEHOLDERS---*/

/*Aligning placeholder text for as many browsers as possible*/
.placeholder::-webkit-input-placeholder {
	text-align: right;
	font-style: italic;
}
.placeholder:-moz-placeholder {
	text-align: right;
	font-style: italic;
}
.placeholder::-moz-placeholder {
	text-align: right;
	font-style: italic;
}
.placeholder:-ms-input-placeholder {
	text-align: right;
	font-style: italic;
}

/*
 *---MEDIA QUERIES---
 */

 /*---TABLET AND ABOVE---*/

@media (min-width: 760px) {

	body {
		background-image: url("../img/gplaypattern.png");
		background-repeat: repeat;
	}

	.main-container {
		width: 90%;
		max-width: 800px;
		background-color: #fff;
		padding: 2.5%;
	}

	.contact label {
		display: inline-block;
		width: 30%;
		margin-right: -5px;
		padding-right: 0.5em;
	}

	.contact input[type="text"],
	.contact input[type=tel],
	.contact input[type=email],
	.contact input[type=url],
	.contact select {
		display: inline-block;
		width: 70%;
	}

}